body {
	background-color: #eee;
}
p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	color: #34495e;
}

input {
	margin: 2% 20%;
	width: 60%;
}

input[type="submit"]{
	width: 30%;
	margin-right: 0;
}

.container {
  margin: 0px auto;
  max-width: 960px;
}

.wide-container {
	margin: 0px auto;
  max-width: 1148px;
}

.panel {
	background-color: #f7f7f7;
	border-radius: 1px solid #e8e8e8;
	overflow: hidden;
}

.column {
	float: left;
	margin-top: 50px;
}

.grid-1 {
	width: 25%;
}

.grid-2 {
	width: 50%;
}

.grid-3 {
	width: 75%;
}

.grid-4 {
	width: 100%;
}

.navbar {
	position: fixed-top;
	background-color: #fff;
	border-bottom: 2px solid #E2E7EB;
	height: 60px;
	overflow: hidden;
}

.navbar h1 {
	/*margin: 20px 0 0 20px;*/
	padding-top: 10px;
	padding-left: 20px;
	margin: 0;
	float: left;
	width: 83%;
}

.signup-link {
	margin-left: 5%;
}

.linkedin-button {
	width: 300px;
	margin-left: 5%;
	margin-top: 20px;
}

.avatar-container {
	float: left;
	text-align: right;
	/*width: 50%;*/
	margin: 0;
}

.avatar-container img {
	margin: 5px 0 0 0;
	width: 50px;
	border-radius: 3px;
}

.signout-button {
	text-decoration: none;
	background-color: #2980b9;
	color: #ecf0f1;
	padding: 5px 10px;
	border-radius: 3px;
}

.signout-container {
	margin: 20px 0 0 10px;
	width: 10%;
	float: left;
}


th {
  text-align: left;
}

