<div class="grid-2 column auth">
	<form action="/authenticate" method="get">
		<input type="text" name="email" placeholder="Email">
		<input type="password" name="password" placeholder="Password">
		<input type="submit" value="Login">
		<a href="/linkedin_auth" class="signup-link">Linked In</a>
	</form>
</div>
