<li class="template hidden">
	<div class="relative">
		<h3><span class="kollision-date"></span></h3>
		<span></span>
		<a href="" target="_blank" class="profile-url">
			<span class="kollision-friend-img"></span>
		</a>
	</div>
	<div class="friend-info">
		<h3><span class="kollision-friend-name"></span></h3>
	</div>	
</li>
