<div class="wide-container content">
<div class="container">
	<ul class="kollisions">
		<% @kollisions.each do |kollision| %>
		<li>
			<div class="relative">
			<h3><%= kollision.formatted_date %></h3>
				<span></span>
				<img src="<%= kollision.user.img_url %>" alt="user image">
			</div>
			<div class="friend-info">
				<h3><%= kollision.user.first_name %> <%= kollision.user.last_name %></h3>
			</div>	
		</li>
		<% end %>
	</ul>
	</div>
</div>